name = "${NAME}"
main = "src/index.js"
compatibility_date = "2025-06-04"
keep_vars = true

[observability]
enabled = true

[[routes]]
pattern = "${CUSTOM_DOMAIN}"
custom_domain = true

[[d1_databases]]
binding = "db"
database_name = "cloud-mail" # Database name
database_id = "${D1_DATABASE_ID}" # Use placeholder to reference env var

[[kv_namespaces]]
binding = "kv"
id = "${KV_NAMESPACE_ID}" # Use placeholder to reference env var

[[r2_buckets]]
binding = "r2"
bucket_name = "${R2_BUCKET_NAME}" # Use placeholder to reference env var

[assets]
binding = "assets"		#Static asset binding name, keep default
directory = "./dist"	#Frontend Vue build output directory, default dist
not_found_handling = "single-page-application"
run_worker_first = true

[triggers]
crons = ["0 16 * * *"]	#Cron runs daily at midnight


[vars]
#orm_log = false
domain = "${DOMAIN}"				#Multiple mail domains supported, example: ["example1.com","example2.com"]
admin = "${ADMIN}"				#Admin email example: admin@example.com
jwt_secret = "${JWT_SECRET}"			#JWT secret key, set a long random string

linuxdo_client_id = "${LINUXDO_CLIENT_ID}"
linuxdo_client_secret = "${LINUXDO_CLIENT_SECRET}"
linuxdo_callback_url = "${LINUXDO_CALLBACK_URL}"
linuxdo_switch = "${LINUXDO_SWITCH}"

[build]
command = "WRANGLER_CONFIG=wrangler-action.toml bash ./scripts/check-bindings.sh && npm --prefix ../mail-vue install && npm --prefix ../mail-vue run build"
